.site-logo{
    height: 50px;
    width: 174px;
}

.nav-search-input-area{
    width: 800px;
}

.user-icon{
    font-size: 30px;
    border-radius: 90%;
    border: 2px solid #3e445a;
}

.total-amount{
    color: #3e445a;
    font-size: 25px;
}

.cart-icon{
    font-size: 30px;
    color: #2ECC71;
}